.s {
    display: flex;
    justify-content: space-around;
    margin: 10px 40px;
}





.flightDisplay {
    display: flex;
    justify-content: space-around;
    margin: 10px 40px;
}

.button {
    display: flex;
    justify-content: center;
    border:none;
    border-radius:5px;
  
  }
  
  .button input {
    width: 50px;
  }

  .inactive {
    background-color: red;


  }

  .book {
    background-color: green;
  }
